
# Virtual environment
venv
# folders
pic
models
saved_models
__pycache__
wandb
# files
*.pt
.DS
wandbAPIKey.txt
test.py
test.sh
test
test2

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.log

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# VSCode settings
.vscode

# IDEA files
.idea

# OSX dir files
.DS_Store

# Sublime Text settings
*.sublime-workspace
*.sublime-project

data


WalkvsRun_confusion_matrix
Wafer_confusion_matrix
UWave_confusion_matrix
PEMS_confusion_matrix
Libras_confusion_matrix
KickvsPunch_confusion_matrix
JapaneseVowels_confusion_matrix
ECG_confusion_matrix
CMUsubject16_confusion_matrix
CharacterTrajectories_confusion_matrix

Heat_Map
Confusion_Matrix

test
test2